.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.hover-options {
  display: none;

}

.label:hover .hover-options {
  display: block;
}


.nav-item:hover .hover-options {
  background-color: red; /* Change the background color when hovered over */
  color: black; /* Change the text color when hovered over */
}


.dashboard-container {
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dashboard-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.button-container {
  margin-bottom: 20px;
}

.info-container {
  margin-bottom: 20px;
}

.info-item {
  margin-bottom: 10px;
}

.profile-picture-container {
  margin-top: 20px;
}

.profile-picture {
  max-width: 100%;
  height: auto;
}


/* Add this CSS to your stylesheet */
.most-active-list {
  background-color: #d2d7dc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.most-active-list h3 {
  color: #1b232c;
}

.most-active-list ul {
  list-style-type: none;
  padding: 0;
}

.most-active-list ul li {
  padding: 5px 0;
  border-bottom: 1px solid #dee2e6;
}

.most-active-list ul li:last-child {
  border-bottom: none;
}
